#navbar{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-top: 5px;
   height:100px;
    /* background-color: antiquewhite; */
}
#nav_left{
    display: flex;
    float: left;
}
#searchInput{
    border-radius: 25px;
}
#searchInput:focus{
    outline-color: rgba(6, 6, 236, 0.564);

}
#nav_left>div img{
    width:150px;
}
#nav_middle{
    display: flex;
    float: center;
    margin-top:30px;
}
#nav_middle >div input{
    width:500px;
    height:40px;
}
#nav_middle img{
    width:50px;
}
#nav_right{
    display: flex;
    float:right;
    margin-top: 12px;
   
}
#nav_right>div img{
    width:80px;
}

#searchResults{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:3%;
}
#searchResults img{
    width:100%;
    height:100%;
}
#clikedVideo{
    margin: 2%;
   
}
#clikedVideo iframe{
    height:550px;
}
#backbutton{
position: relative;
left:40px;
top:0px;
margin: 0%;
border-radius: 25px;

}